*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.game-container {
    height: 400px;
    width: 800px;
    margin: 0 auto;
    position: relative;
}

.canvas {
    position: absolute;
}

.canvas--scene {
    z-index: 2;
}

.canvas--player {
    z-index: 1;
}

.game-ui {
    position: absolute;
    z-index: 3;
    user-select: none;
    font-family: 'VT323', monospace;
    font-size: 24px;
    opacity: 0;
}

.game-ui:not(.game-ui-playing) {
    top: 200px;
    left: 400px;
    transform: translate(-50%, -50%);
    text-align: center;
    text-shadow: -2px 2px 0 white, 2px 2px 0 white,2px -2px 0 white,-2px -2px 0 white;
}
.game-ui.game-ui-playing {
    top: 0;
    right: 0;
    color:white;
    padding: 20px 20px;
    text-align: right;
    width: 100%;
    display: flex;
    justify-content: space-between;
}


.game-container.ready .game-ui-ready {
    z-index: 4;
    opacity: 1;
}

.game-container.ended .game-ui-ended {
    z-index: 4;
    opacity: 1;
}

.game-container.playing .game-ui-playing,
.game-container.ended .game-ui-playing {
    z-index: 4;
    opacity: 1;
}

.start-button {
    margin: 10px;
    width: 200px;
    text-transform: uppercase;
    background-color: white;
    border: 5px solid black;
}

.start-button:hover {
    cursor: pointer;
}

.start-button:active {
    cursor: pointer;
    transform: translateY(4px);
}